.jobs-overview {
  .jobs-overview-item {
    flex: 1;
    padding: 0;
  }

  .jobs-overview-item-inner {
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 50px 10px rgba(0, 0, 0, 0.05);
    margin: 10px;
    padding: 10px;
    background-color: #fff;

    h3 {
      display: block;
      color: #6e6e6f;
    }
    p {
      margin-bottom: 0;
    }
  }
}
